.section {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: var(--default-background);
    background-color: var(--basic-white);
}

.main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100% - 50px);
}