.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  /* background-color: var(--default-background); */
  background-color: var(--basic-white);
  user-select: none;
  overflow: auto;
}

.inlineLink {
  text-decoration: none;
  color: var(--primary-color);
  cursor: pointer;
}

.inlineLink:hover {
  text-decoration: underline;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 15%;
  padding: 20px 20px;

  color: var(--basic-black);
  font-family: var(--font-family);

  /* border: 1px solid black; */
}

.body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 85%;
  padding: 20px 20px;

  color: var(--basic-black);
  font-family: var(--font-family);

  /* border: 1px solid black; */
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;

  margin-left: 50px;
  margin-top: 50px;
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-regular);
}

.titleSetting {
  display: inline-flex;
  margin-left: 10px;
  cursor: pointer;
  white-space: nowrap;
}

.subtitle {
  margin-top: 10px;
  font-size: var(--font-size-sl);
  font-weight: var(--font-weight-light);
  white-space: nowrap;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  width: fit-content;
  height: fit-content;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 10px 10px 0px 0px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cellGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  padding: 20px 50px 50px 50px;
  row-gap: 30px;
  column-gap: 30px;

  /* overflow: auto; */

  margin-top: 15px;
  padding-bottom: 20px;
}

.cellCard {
  display: flex;
  flex-direction: column;

  height: 200px;
  border: var(--cell-card-stroke);
  background-color: var(--cell-card-background);

  border-radius: 10px;

  user-select: none;
  cursor: pointer;
}

.cellCard:hover {
  border: 0.6px solid var(--highlight-border-color);
}

.cellAdderCard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  height: 80px;
  border: 1px solid var(--primary-grey-2);

  border-radius: 5px;

  user-select: none;
  cursor: pointer;
}

.cardImage {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 70%;
  width: 96%;

  margin-left: 2%;
  margin-top: 2%;

  border-radius: 5px 5px 5px 5px;

  user-select: none;
}

.cardImg {
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  border-radius: 6px 6px 6px 6px;
}

.cardTitle {
  margin: 5px 5px 0px 7px;
  color: var(--cell-card-color);
  font-size: var(--font-size-se);
  font-weight: var(--font-weight-regular);
  outline: none;
  box-sizing: border-box;
  border: 1px solid var(--primary-grey-2);
  background-color: transparent;
}

.cardTitle:read-only {
  border: none;
}

.cardSubtitle {
  padding: 0px 0px 0px 7px;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-light);
}

.cardSubtitle span {
  color: var(--primary-grey-2);
}

.deleteBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5px;
  right: 5px;
}

@media screen and (max-width: 700px) {
  .buttonWrapper {
    display: none;
  }
}

@media screen and (max-height: 600px) {
  .header {
    display: none;
  }

  .body {
    height: 100%;
  }
}