.container {
  color: var(--basic-black);
  padding: 20px;
}

.title {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0.3rem;
}

.subTitle {
  font-size: 1.2rem;
  font-weight: 200;
  margin-bottom: 0.3rem;
}
