.container {
  display: flex;
  box-sizing: border-box;
  color: var(--basic-black);
}
.container:hover {
  border: 1px solid var(--highlight-border-color);
}

.editorBtn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.deleteBtn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  position: absolute;
  display: flex;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.desc {
  position: absolute;
  white-space: pre-line;
  text-overflow: ellipsis;
  overflow: hidden;
}

.url {
  position: absolute;
  display: flex;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #3B7DF9;
  cursor: pointer;
}
.url:hover {
  text-decoration: underline;
}

.urlBox {
  position: absolute;
  background-color: var(--primary-grey-1);
}

.textButton {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -6px;
  right: -6px;
  width: 12px;
  height: 12px;
  border-radius: 10%;
  border: none;
  background-color: var(--toolbar-background);
  cursor: pointer;
}

.cancelButton {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -6px;
  right: 8px;
  width: 12px;
  height: 12px;
  border-radius: 10%;
  background-color: var(--toolbar-background);
  cursor: pointer;
}

.deleteButton {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -6px;
  right: 22px;
  width: 12px;
  height: 12px;
  border-radius: 10%;
  background-color: var(--toolbar-background);
  cursor: pointer;
}

.textInputWrapper {
  background-color: transparent;
  width: fit-content;
  padding: 2px 5px;
}

.textInput {
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: 300;
  background-color: transparent;
  color: var(--basic-black);
  border: none;
  user-select: none;
  outline: none;
}
.textInput:read-only {
  cursor: pointer;
}