:root {
  --primary-color: #8d64ff;
  --primary-shade-1: #6c49df;
  --primary-shade-2: #4a2ec1;
  --primary-shade-3: #2113a3;
  --primary-shade-4: #000085;
  --primary-gradient-1: #fc4ed1;
  --primary-gradient-2: #ff6099;
  --primary-gradient-3: #ff936b;
  --primary-gradient-4: #ffc956;
  --primary-gradient-5: #f9f871;

  --primary-grey-1: #f6f6f6;
  --primary-grey-2: #757575;
  --primary-grey-3: #4a4453;
  --primary-grey-4: #afa8ba;

  --basic-white: #ffffff;
  --basic-black: #000000;
  --warning-red: #d55f5a;
  --warning-yellow: #ffff00;
  --placeholder-grey: #b3b3b3;
  --placeholder-primary: rgba(141, 100, 255, 0.5);
  --placeholder-primary-2: rgba(252, 78, 209, 0.5);

  --default-background: #f6f6f6;
  --highlight-border-color: #8d64ff;

  --sidebar-background: #FFFFFF;
  --sidebar-color: #000000;
  --sidebar-stroke: 1px solid #f6f6f6;

  --cell-card-background: #FFFFFF;
  --cell-card-color: #000000;
  --cell-card-stroke: 1px solid #f6f6f6;

  --font-family: "Roboto", sans-serif;
  --font-size-xxs: 9px;
  --font-size-xs: 11px;
  --font-size-s: 13px;
  --font-size-sm: 17px;
  --font-size-sl: 20px;
  --font-size-m: 30px;
  --font-size-l: 40px;
  --font-size-xl: 64px;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

[data-theme="dark"] {
  --primary-color: #8d64ff;
  --primary-shade-1: #6c49df;
  --primary-shade-2: #4a2ec1;
  --primary-shade-3: #2113a3;
  --primary-shade-4: #000085;
  --primary-gradient-1: #fc4ed1;
  --primary-gradient-2: #ff6099;
  --primary-gradient-3: #ff936b;
  --primary-gradient-4: #ffc956;
  --primary-gradient-5: #f9f871;

  --primary-grey-1: #f6f6f6;
  --primary-grey-2: #757575;
  --primary-grey-3: #4a4453;
  --primary-grey-4: #afa8ba;

  --basic-white: #000000;
  --basic-black: #FFFFFF;
  --warning-red: #d55f5a;
  --warning-yellow: #ffff00;
  --placeholder-grey: #b3b3b3;
  --placeholder-primary: rgba(141, 100, 255, 0.5);
  --placeholder-primary-2: rgba(252, 78, 209, 0.5);

  --default-background: #13111C;
  --highlight-border-color: #E34099;

  --sidebar-background: #151238;
  --sidebar-color: #FFFFFF;
  --sidebar-stroke: 1px solid #ffffff3b;

  --cell-card-background: #151238;
  --cell-card-color: #FFFFFF;
  --cell-card-stroke: 1px solid #ffffff3b;

  --font-family: "Roboto", sans-serif;
  --font-size-xxs: 9px;
  --font-size-xs: 11px;
  --font-size-s: 13px;
  --font-size-sm: 17px;
  --font-size-sl: 20px;
  --font-size-m: 30px;
  --font-size-l: 40px;
  --font-size-xl: 64px;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
